@tailwind base;
@tailwind components;
@tailwind utilities;


body{ min-height:100vh; margin:0; position:relative; }
body::before {
    content: "";
    display: block;
    height: 40px;
}

body::after{
    content: "";
    display: block;
    height: 204px;
}